<h2>蔵書一覧</h2>

<% if @books.present? %>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>URL</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= link_to "リンク", book.url, target: "_blank", rel: "noopener" %></td>
          <td><%= link_to "詳細", book_path(book) %></td>
          <td><%= link_to "編集", edit_book_path(book) %></td>
          <td><%= link_to "削除", book_path(book), data: { turbo_method: :delete, confirm: "削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>蔵書が登録されていません。</p>
<% end %>