<h2>本の詳細</h2>

<p><strong>タイトル:</strong> <%= @book.title %></p>
<p><strong>著者:</strong> <%= @book.author %></p>
<p><strong>URL:</strong> <%= link_to @book.url, @book.url, target: "_blank" %></p>

<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '削除', book_path(@book),
            method: :delete,
            data: { confirm: '本当に削除しますか？' } %> |
<%= link_to '一覧に戻る', books_path %>

