<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>蔵書管理アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <header>
      <h1>📚 蔵書管理アプリ</h1>
      <nav>
        <ul>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "蔵書一覧", books_path %></li>
          <li><%= link_to "新規登録", new_book_path %></li>
        </ul>
      </nav>
    </header>

    <div id="container">
      <aside id="sidebar">
        <h3>メニュー</h3>
        <ul>
          <li><%= link_to "すべての本", books_path %></li>
          <li><%= link_to "新しい本を登録", new_book_path %></li>
          <li><%= link_to "新着情報", "#" %></li>
        </ul>

        <h3>検索</h3>
        <%= form_with url: books_path, method: :get, local: true do %>
          <%= text_field_tag :keyword, params[:keyword], placeholder: "タイトル検索" %>
          <%= submit_tag "検索" %>
        <% end %>
      </aside>

      <main>
        <%= yield %>
      </main>
    </div>

    <footer>
      <p>© 2025 蔵書管理アプリ</p>
    </footer>
  </body>
</html>